/* Main Component Styles */
.main-container {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.navbar {
  background-color: rgba(240, 237, 230, 1);
  z-index: 10;
  display: flex;
  width: 100%;
  padding: 0 24px 0 9px;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .navbar {
    max-width: 100%;
    padding-right: 20px;
  }
}

.navbar-logo {
  aspect-ratio: 2.04;
  object-fit: contain;
  object-position: center;
  width: 216px;
  align-self: stretch;
  flex-shrink: 0;
  max-width: 100%;
}

.navbar-content {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 40px 43px;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .navbar-content {
    max-width: 100%;
  }
}

.nav-menu {
  background-color: rgba(24, 62, 97, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: stretch;
  display: flex;
  margin: auto 0;
  padding: 10px 80px;
  align-items: stretch;
  gap: 40px 100px;
  overflow: hidden;
  font-family:
    Halant,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 991px) {
  .nav-menu {
    max-width: 100%;
    padding: 10px 20px;
    white-space: initial;
  }
}



.home-item {
  transform: rotate(-0.004059209872166614rad);
}

.icon-container {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 8px;
  justify-content: start;
}

.user-icon-container {
  align-self: stretch;
  display: flex;
  min-height: 52px;
  align-items: center;
  gap: 8px;
  justify-content: start;
}

.icon-wrapper {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  min-height: 48px;
  width: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-button {
  border-radius: 100px;
  display: flex;
  width: 100%;
  max-width: 40px;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  justify-content: center;
}

.icon-state-layer {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  width: 40px;
  padding: 8px;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.icon-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

.navbar-end-logo {
  aspect-ratio: 1.02;
  object-fit: contain;
  object-position: center;
  width: 99px;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

.hero-image {
  aspect-ratio: 1.56;
  object-fit: contain;
  object-position: center;
  width: 100%;
  margin-top: -5px;
}

@media (max-width: 991px) {
  .hero-image {
    max-width: 100%;
  }
}
